<div class="row">
  <div class="col-xs-12">
    <img src="{{(recipeState | async).recipes[recipeIndex].imagePath}}" alt="" class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{(recipeState | async).recipes[recipeIndex].name}}</h1>
  </div>
  <div class="col-xs-12">
    <div class="btn-group" rbDropdown>
      <button type="button" class="btn btn-primary dropdown-toggle">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        <li><a (click)="onAddToShoppingList()" style="cursor: pointer;">To Shopping List</a></li>
        <li><a (click)="onEdit()" style="cursor: pointer;">Edit</a></li>
        <li><a (click)="onDelete()" style="cursor: pointer;">Delete</a></li>
      </ul>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <p>{{(recipeState | async).recipes[recipeIndex].description}}</p>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item" *ngFor="let item of (recipeState | async).recipes[recipeIndex].ingredients">{{item.name}} ({{item.amount}})</li>
    </ul>
  </div>
</div>
